
/**
0 : propriétés générales*******************************************************************************************
1 : intro**********************************************************************************************************
2 : Menu***********************************************************************************************************
3 : Articles*******************************************************************************************************
4 : Navigation*****************************************************************************************************
3 : Footer*********************************************************************************************************
*/


/** 0 : propriétés générales**************************************************************************************
*/

html * /** tout est séléctionné */
{
  box-sizing: border-box; /** propriété pour choisir la manière dont on dimensionne les div */
}

body {
  margin-left: 10%;
  margin-top: 5%;
  font-family: 'Source Code Pro', monospace;
  cursor: url("Images/pointeur_test.cur"), pointer;
}

.bodyprojet  {
  margin-left: 0px;
}

.photos_projet {
  max-width: 100%;
  justify-content: center;
}

a:link{
  cursor:  pointer;
}

img {
  max-width: 80%; /** La taille maximale d'une image est 60% de la taille de l'écran */
}

.souligne{
 text-decoration: underline;
}


/** 1 : Intro *****************************************************************************************************
*/

.intro{
  font-family: 'Acme';
  color: red;
  text-align: left;
  position: fixed;
}

#titreprincipal {
  font-family: 'Acme', serif;
  color: red;
  font-size: 40px;
  text-align: left;
  margin: 0;
  margin-bottom: 12px;
}

.intro .main {
 height: 30px;
 margin-right: 7px;
 margin-top: 5px;
}

.intro .gif {
  height: 50px;
  width: 50px;
  margin-right: 7px;
  margin-top: 5px;
}

.intro  h2 {
  font-family: 'Acme', serif;
  color: red;
  font-size: 14px;
  text-align: left;
  margin-top:0;
}

.flexcontent{
  display:flex;
  flex-direction:row;
}

/** 2 : Articles ***************************************************************************************************
*/

.projets {
  bottom:200px;
  display:flex;
  justify-content:space-between;
  flex-direction:column;
  margin-left: 35%;
}

.projet {
  position: relative;
}

.projet .miniature {
  bottom : 40px;
}
.projet .info .tests {
  font-family: 'Roboto', serif;
  font-size:11px;
  right: 60px;
  top: 20px;
  color: #535353;
  position: absolute; 
  text-align: right;
  z-index:2;
}

.projet .info .vrai{
  font-family: 'Roboto', serif;
  font-size:11px;
  right: 60px;
  color: #202020;
  position: absolute;
  text-align: right;
  z-index:2;
}

.projets p {
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  text-align:left;
}

/** 3 : Footer ****************************************************************************************************
*/

/*
@media screen {
  body {
    background: blue;
    transition: 15s;
  }
}

@media screen and (max-width: 767px) {
  body {
    background: red;
  }
}
*/

/*
  <img src="http://fakeimg.pl/200" alt="(fausse image du projet numéro 2)">
*/
