
/**
0 : propriétés générales
1 : Entête
2 : Menu
3 : Articles
4 : Navigation
3 : Footer*/


/** 0 : propriétés générales
*/
html * /** tout est séléctionné */
{
  box-sizing: border-box; /** propriété pour choisir la manière dont on dimensionne les div */
}

body {
  background: yellow;
  background-image: url(Images/scared-cat-blue.jpg);
  background-repeat: no-repeat;
  margin: auto;
  font-family: 'Crimson Text', serif;
}

img {
  max-width: 60%; /** La taille maximale d'une image est 100% de la taille de l'écran */
}

.divbleu{
  background: lightblue;
  width: 400px;
  height: 500px;
  margin: 100px;
  border: 5px solid yellow;


}

.divvert{
  background: lightgreen;
  width: 80%;
  height: 80%;
}

.souligne{
text-decoration: underline;
}

  /** 1 : Entête
  */
  h1{
    font-family: 'Crimson Text', serif;
    color: darkblue;
    text-align: center;
  }
  #titreprincipal {
  font-family: 'Crimson Text', serif;
  color: darkblue;
  font-size: 52px;
  text-align: center;
  }

  /** 2 : Articles
  */
  .dashed-red{
    border: 5px dashed red;
  }
  h2{
    font-family: 'Crimson Text', serif;
    color: pink;
    text-align: left;
  }

  p {
    font-family: 'Crimson Text', serif;
    text-align: center;
  }
/** 3 : Footer
*/
.footer{
}

/*
  <img src="http://fakeimg.pl/200" alt="(fausse image du projet numéro 2)">
*/
