html * {
  box-sizing: border-box;
}

.grille {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

.ligne {
  width: 100%;
  display: flex;
  font-size: 0;
  margin-bottom: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

.colonne-1, .colonne-2, .colonne-3, .colonne-4, .colonne-5, .colonne-6, .colonne-7, .colonne-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.colonne-1 {
  flex-basis: calc(12.5% - 16px);
}

.colonne-2 {
  flex-basis: calc(25% - 16px);
}

.colonne-3 {
  flex-basis: calc(37.5% - 16px);
}

.colonne-4 {
  flex-basis: calc(50% - 16px);
}

.colonne-5 {
  flex-basis: calc(62.5% - 16px);
}

.colonne-6 {
  flex-basis: calc(75% - 16px);
}

.colonne-7 {
  flex-basis: calc(87.5% - 16px);
}

.colonne-8 {
  flex-basis: calc(100% - 16px);
}

.decale-1 {
  margin-left: calc(12.5% + 8px);
}

.decale-2 {
  margin-left: calc(25% + 8px);
}

.decale-3 {
  margin-left: calc(37.5% + 8px);
}

.decale-4 {
  margin-left: calc(50% + 8px);
}
.decale-5 {
  margin-left: calc(62.5% + 8px);
}
.decale-6 {
  margin-left: calc(75% + 8px);
}
.decale-7 {
  margin-left: calc(82.5% + 8px);
}
