/**
0 : général
1 : intro
2 : texte et projet
*/



/** 0 : général et projet
*/


html * /** tout est séléctionné */
{
  box-sizing: border-box; /** propriété pour choisir la manière dont on dimensionne les div */
}

body {
  font-family: "Roboto";
}

/** 1 : intro
*/

.fixe {
  position: fixed;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 2%;
  z-index: 1;
  }

h1 {
    font-family: "Acme";
    text-decoration: underline;
    color: red;
    font-size: 25px;
}



  /** 2 : texte et projet
  */

  .projets {
    position : relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
  }

  .projet {
    margin-bottom: 30px;
    width: 900px;
  }
 
  .description {
    position:fixed;
    font-family: "roboto";
    font-size: 14px;
    width: 25%;
    margin-left: 70%;
    margin-right: 5%;
    margin-top: 200px;
    z-index: 1;
  }


/*
@media screen {
  body {
    background: blue;
    transition: 15s;
  }
}

@media screen and (max-width: 767px) {
  body {
    background: red;
  }
}
*/

/*
  <img src="http://fakeimg.pl/200" alt="(fausse image du projet numéro 2)">
*/
