
/**
0 : général
1 : éléments fixes
2 : Ville
*/



/** 0 : général
*/


html * /** tout est séléctionné */
{
  box-sizing: border-box; /** propriété pour choisir la manière dont on dimensionne les div */
}

body {
  font-family: 'Acme';
  background: black;
}



/** 1 : éléments fixes
*/
.fixe {
  position: fixed;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 2%;
  z-index: 1;
  }

.picto {
  height: 15px;
  margin-left: 15px;
  margin-top: 5px;
}

h1 {
    text-decoration: underline;
    color:white;
    font-size: 16px;
}

.arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin : 0px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 23px;
  margin-top: 5%;
  margin-bottom: 2%;
  z-index: 1;
  width: 260px;
}

.left-rigth{
  justify-content: space-around;
  width: 100%;
  display: flex;
}

.hide {
 display: none;
}


  /** 1 : Ville
  */

  .ville {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
  }

.arrows {
  width: 120px;
  height: 100px;
  position: fixed;
  bottom: 3em;
  left: 50%;
  transform: translateX(-50%);
}

.arrows div {
  width: 30px;
  height: 30px;
  position: absolute;
  background-repeat: no-repeat;
}

#gauche {
  left: 0;
  top: 50%;
  transform:translate(0,-50%);
  background-image: url('./../Images/fleche-gauche-b.svg');
}

#gauche.actif {
  background-image: url('./../Images/fleche-gauche.svg');
}
#droite {
  right: 0;
  top: 50%;
  transform:translate(0,-50%);
  background-image: url('./../Images/fleche-droite-b.svg');
}

#droite.actif {
  background-image: url('./../Images/fleche-droite.svg');
}
#haut {
  top: 0;
  left: 50%;
  transform:translate(-50%,0);
  background-image: url('./../Images/fleche-haut-b.svg');
}

#haut.actif {
  background-image: url('./../Images/fleche-haut.svg');
}
#bas {
  bottom: 0;
  left: 50%;
  transform:translate(-50%, 0);
  background-image: url('./../Images/fleche-bas-b.svg');
}
#bas.actif {
  background-image: url('./../Images/fleche-bas.svg');
}
