/**
0 : général
1 : intro
2 : texte et projet
*/



/** 0 : général et projet ******************************************************************************************
*/


html * /** tout est séléctionné */
{
  box-sizing: border-box; /** propriété pour choisir la manière dont on dimensionne les div */
}

body {
  font-family: "Roboto";
}

/** 1 : intro ******************************************************************************************************
*/

.fixe {
  position: fixed;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 2%;
  z-index: 1;
  }

h1 {
  font-family: "Acme";
  /*text-decoration: underline;**/
  color: red;
  font-size: 16px;
}

.picto {
   height: 20px;
   margin-left: 15px;
   margin-top: 5px;
}
/** 2 : texte et projet *********************************************************************************************
*/

.projets {
  position : relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
}

figure {
  margin: 0px;
  margin-top: 15px;
  margin-bottom: 50px;
}

.projet {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

  .description {
    position:fixed;
    font-family: 'source code pro', monospace;
    font-size: 14px;
    width: 25%;
    margin-right: 5%;
    right: 3em;
    bottom: 6em;
    z-index: 1;
    /*border : 2px solid;
    border-color: red; */
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1em;
  }

a {
  color: red;
}


/** 3 : Responsive ***************************************************************************************************
*/

/** 900px */ 
@media screen and (max-width:900px){
  .projet {
    width: 730px;
  }
  
}
/** 750px */ 
@media screen and (max-width:750px){
  .projet {
    width: 600px;
  }
}
/** 620px */ 
@media screen and (max-width:620px){
  .projet {
    width: 520px;
  }
}

/** 550px */
@media screen and (max-width:550px){
  .projet {
    width: 430px;
  }
}

.description {
  display: none;
}


/** 450px */
@media screen and (max-width:450px){
  .projet {
    width: 330px;
  }

  h1 {
    display: none;
  }

  .picto{
    height: 40px;
    margin: 0px;
  }
}

/** 350px */
@media screen and (max-width:350px){
  .projet {
    width: 260px;
  }
}